*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/canonicalization_ui_coverage/
!/checks/canonicalization_ui_coverage/default.nix
!/checks/git_canonicalization_coverage/
!/checks/git_canonicalization_coverage/default.nix
!/checks/nix_alphabetize_coverage/
!/checks/nix_alphabetize_coverage/default.nix
!/checks/nix_remove_defaults_coverage/
!/checks/nix_remove_defaults_coverage/default.nix
!/checks/nix_syntax_coverage/
!/checks/nix_syntax_coverage/default.nix
!/checks/python_hypothesis_coverage/
!/checks/python_hypothesis_coverage/default.nix
!/checks/python_mutation_coverage/
!/checks/python_mutation_coverage/default.nix
!/checks/remove_empty_lines_coverage/
!/checks/remove_empty_lines_coverage/default.nix
!/checks/remove_new_lines_coverage/
!/checks/remove_new_lines_coverage/default.nix
!/flake.lock
!/flake.nix
!/formatter.nix
!/packages/
!/packages/canonicalization_ui/
!/packages/canonicalization_ui/default.nix
!/packages/canonicalization_ui/main.py
!/packages/canonicalization_ui/test_main.py
!/packages/git_canonicalization/
!/packages/git_canonicalization/default.nix
!/packages/git_canonicalization/main.py
!/packages/git_canonicalization/test_main.py
!/packages/nix_alphabetize/
!/packages/nix_alphabetize/default.nix
!/packages/nix_alphabetize/main.py
!/packages/nix_alphabetize/test_main.py
!/packages/nix_remove_defaults/
!/packages/nix_remove_defaults/default.nix
!/packages/nix_remove_defaults/main.py
!/packages/nix_remove_defaults/test_main.py
!/packages/nix_syntax/
!/packages/nix_syntax/default.nix
!/packages/nix_syntax/main.py
!/packages/nix_syntax/test_main.py
!/packages/python_hypothesis/
!/packages/python_hypothesis/default.nix
!/packages/python_hypothesis/main.py
!/packages/python_hypothesis/test_main.py
!/packages/python_mutation/
!/packages/python_mutation/default.nix
!/packages/python_mutation/main.py
!/packages/python_mutation/test_main.py
!/packages/remove_empty_lines/
!/packages/remove_empty_lines/default.nix
!/packages/remove_empty_lines/main.py
!/packages/remove_empty_lines/test_main.py
!/packages/remove_new_lines/
!/packages/remove_new_lines/default.nix
!/packages/remove_new_lines/main.py
!/packages/remove_new_lines/test_main.py
!/packages/uncomment/
!/packages/uncomment/default.nix
