*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/defaultVmWithDisko/
!/checks/defaultVmWithDisko/default.nix
!/checks/git-canonicalization-coverage/
!/checks/git-canonicalization-coverage/default.nix
!/checks/host_default/
!/checks/host_default/default.nix
!/checks/nix-alphabetize-coverage/
!/checks/nix-alphabetize-coverage/default.nix
!/checks/nix-remove-defaults-coverage/
!/checks/nix-remove-defaults-coverage/default.nix
!/checks/python_latex_template_coverage/
!/checks/python_latex_template_coverage/default.nix
!/checks/python_template_coverage/
!/checks/python_template_coverage/default.nix
!/checks/remove_empty_lines_coverage/
!/checks/remove_empty_lines_coverage/default.nix
!/checks/remove_new_lines_coverage/
!/checks/remove_new_lines_coverage/default.nix
!/flake.lock
!/flake.nix
!/formatter.nix
!/hosts/
!/hosts/default/
!/hosts/default/configuration.nix
!/packages/
!/packages/deploy_host_template/
!/packages/deploy_host_template/default.nix
!/packages/deploy_host_template/main.tf
!/packages/deploy_host_template/prm/
!/packages/deploy_host_template/prm/**
!/packages/git-canonicalization/
!/packages/git-canonicalization/Main.hs
!/packages/git-canonicalization/default.nix
!/packages/html_template/
!/packages/html_template/default.nix
!/packages/html_template/index.html
!/packages/html_template/script.js
!/packages/html_template/style.css
!/packages/latex_template/
!/packages/latex_template/default.nix
!/packages/latex_template/ms.bib
!/packages/latex_template/ms.tex
!/packages/nix-alphabetize/
!/packages/nix-alphabetize/Main.hs
!/packages/nix-alphabetize/default.nix
!/packages/nix-remove-defaults/
!/packages/nix-remove-defaults/Main.hs
!/packages/nix-remove-defaults/default.nix
!/packages/python_latex_template/
!/packages/python_latex_template/default.nix
!/packages/python_latex_template/main.py
!/packages/python_latex_template/ms.bib
!/packages/python_latex_template/ms.tex
!/packages/python_template/
!/packages/python_template/default.nix
!/packages/python_template/main.py
!/packages/remove_empty_lines/
!/packages/remove_empty_lines/default.nix
!/packages/remove_empty_lines/main.py
!/packages/remove_new_lines/
!/packages/remove_new_lines/default.nix
!/packages/remove_new_lines/main.py
!/packages/uncomment/
!/packages/uncomment/default.nix
!/prm/
!/prm/**
!/secrets/
!/secrets/secrets.age
!/secrets/secrets.env.example
!/secrets/secrets.nix
