*
!/.github/
!/.github/workflows/
!/.github/workflows/workflow.yml
!/.gitignore
!/LICENSE
!/README
!/checks/
!/checks/defaultVmWithDisko/
!/checks/defaultVmWithDisko/default.nix
!/checks/git_canonicalization_coverage/
!/checks/git_canonicalization_coverage/default.nix
!/checks/host_default/
!/checks/host_default/default.nix
!/checks/nix_alphabetize_coverage/
!/checks/nix_alphabetize_coverage/default.nix
!/checks/nix_remove_defaults_coverage/
!/checks/nix_remove_defaults_coverage/default.nix
!/checks/nix_syntax_coverage/
!/checks/nix_syntax_coverage/default.nix
!/checks/remove_empty_lines_coverage/
!/checks/remove_empty_lines_coverage/default.nix
!/checks/remove_new_lines_coverage/
!/checks/remove_new_lines_coverage/default.nix
!/flake.lock
!/flake.nix
!/formatter.nix
!/hosts/
!/hosts/default/
!/hosts/default/configuration.nix
!/packages/
!/packages/deploy_host_template/
!/packages/deploy_host_template/default.nix
!/packages/deploy_host_template/main.tf
!/packages/deploy_host_template/prm/
!/packages/deploy_host_template/prm/**
!/packages/git_canonicalization/
!/packages/git_canonicalization/default.nix
!/packages/git_canonicalization/main.py
!/packages/html_template/
!/packages/html_template/default.nix
!/packages/html_template/index.html
!/packages/html_template/script.js
!/packages/html_template/style.css
!/packages/latex_template/
!/packages/latex_template/default.nix
!/packages/latex_template/ms.bib
!/packages/latex_template/ms.tex
!/packages/nix_alphabetize/
!/packages/nix_alphabetize/default.nix
!/packages/nix_alphabetize/main.py
!/packages/nix_remove_defaults/
!/packages/nix_remove_defaults/default.nix
!/packages/nix_remove_defaults/main.py
!/packages/nix_syntax/
!/packages/nix_syntax/default.nix
!/packages/nix_syntax/main.py
!/packages/remove_empty_lines/
!/packages/remove_empty_lines/default.nix
!/packages/remove_empty_lines/main.py
!/packages/remove_new_lines/
!/packages/remove_new_lines/default.nix
!/packages/remove_new_lines/main.py
!/packages/uncomment/
!/packages/uncomment/default.nix
!/prm/
!/prm/**
!/secrets/
!/secrets/secrets.age
!/secrets/secrets.env.example
!/secrets/secrets.nix
